[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "==3.8.2"
numpy = "==1.26.3"
opencv-python = "==4.9.0.80"
pandas = "==2.1.4"
pillow = "==10.2.0"
rasterio = "==1.3.9"
scikit-learn = "==1.3.2"
seaborn = "==0.13.1"
tensorflow = "==2.15.0.post1"
tqdm = "==4.66.1"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
